<ul class="nav nav-tabs">
  <li class="nav-item">
    <% if request.env['PATH_INFO'].include?("/dados-cadastrais") %>
      <span class="nav-link active">Meus dados</span>
    <% else %>
      <%= link_to "Meus dados", vendedor_dados_cadastrais_path, class:"nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if request.env['PATH_INFO'].include?("/editar") %>
    <span class="nav-link active">Editar cadastro</span>
    <% else %>
      <%= link_to "Editar cadastro", vendedor_editar_path, class:"nav-link" %>
    <% end %>
    
  </li>

  <li class="nav-item">
    <% if request.env['PATH_INFO'].include?("/meus-produtos") %>
      <span class="nav-link active">Meus produtos</span>
    <% else %>
      <%= link_to "Meus produtos", vendedor_meus_produtos_path, class:"nav-link" %>
    <% end %>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Histórico de Pedidos</a>
  </li>
</ul>