<div class="container form-box dados-usuario-container">
  <div class="row justify-content-center">
    <div class="col col-8 align-self-center">
      <%= render partial: "users/partials/admin_navbar" %>
      <br />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-5 align-self-center">
      <h4>Editar usuário <%= @user.nome %></h4>
    </div>
    <div class="col col-3 align-self-center">
      <%= link_to '< Voltar à lista de usuários', area_admin_usuarios_path, class: 'link_voltar' %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col col-8 align-self-center">

      
      <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>