<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <title>vitrine</title> -->
    <%= stylesheet_link_tag 'welcome.scss' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
 <!-- Vitrine -->
    <div class="small-container">
	<!-- 
	<h2 class="title"> Vitrine </h2>
	-->
	<%= form_with(url: '/products', method: :get, local:true) do %>
	  <%= text_field_tag(:search, nil, autocomplete: 'off') %>
	  <%= submit_tag("Search") %>
	<% end %>
    </div>
</body>
</html>
