/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
// @import '@fortawesome/fontawesome-free';
@import "font-awesome-sprockets";
@import "font-awesome";


a.site-name {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

a:hover.site-name {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav div{
    margin: 3px;
    padding: 5px;
    border: 1px dashed black;
}

.form-box {
    // margin-top: 50px;
}

.divider-break {
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 1;
}

h5 {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
}

.forgot-password {
    font-size: 12px;
}

.btn-center {
    position: relative;
    text-align: center;
}

em {
    font-size: 12px;
}

.form-text{
    font-size: 14px;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link  {
    color: #FFF;
    font-size: 15px;
}

.dropdown-item {
    font-size: 15px
}

.dados-usuario-container {
    margin-top: 20px;
}

.dados-usuario {
    border: 1px solid rgba(86,61,124,.2);
    font-size: 12px;
    padding: 14px;
}

.login {
    color: #FFF;
}

a:hover.login {
    text-decoration: none;
    color: #343a40;
}

.carrinho {
    margin-top: 5px;
}

.nav-vertical {
    margin-top: 67px
}

.nav-tabs {
    font-size: 14px;
}

.hr-divider {
    margin: 50px 0 30px 0;
    width: 100%;
    height: 12px;
    border-bottom: 1px solid #b32400;
    text-align: center;
}

.hr-divider-text {
    color: #b32400;
    font-size: 12px;
    background-color: #FFF;
    padding: 0 10px;
}

.hr-login-divider {
    border-bottom: 1px solid #696969 !important;
}

.hr-login-text {
    color: #696969 !important;
}

.link_voltar {
    font-size: 12px;
}

.checkbox {
    font-size: 12px;
    margin-top:45px;
}

.endereco {
    margin-top: 20px;
}

.endereco-titulo {
    font-size: 14px;
}

.card-body {
    font-size: 12px;
}

.devise-error {
    font-size: 12px;
    padding: 0.75rem 0.75rem 0rem;
}