* {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	justify-content: flex-end;
}

nav div{
	margin: 3px;
	padding: 5px;
	border: 1px dashed black;
}

.teste1 {
	/* color: yellow; */
	/* background-color: green; */
	font-weight: bold;
}

body {
	/* background-color: blue; */
	margin: 5px;
}

section div h1{
	display: flex;
	justify-content: center;
}
