<div class="container form-box dados-usuario-container">
  <div class="row justify-content-center">
    <div class="col col-8 align-self-center">
      <%= render partial: "users/partials/admin_navbar" %>
      <br />
    </div>
  </div>

  <div class="row justify-content-center" style="margin-bottom:20px;">
    <div class="col col-6 align-self-center">
      <h4>Criar Categoria</h4>
    </div>
    <div class="col col-2 align-self-center">
      <%= link_to '< Voltar à lista de categorias', new_category_path, class: 'link_voltar' %>
      <br>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-bottom:20px;">
    <div class="col col-8 align-self-center">
        <%= render 'form', category: @category %>
    </div>
  </div>
</div>