<!-- <nav class="navbar bottom navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item footer-item">
            Copyright &copy; 2020 - <%#= Time.current.year %> SóMáscaras
        </li>
    </ul>
</nav> -->