<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-link mr-sm-2">
            <h2><%= link_to "SóMáscaras", :root, class: "site-name" %></h2>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:10px;">
              Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Máscara Adulto</a>
              <a class="dropdown-item" href="#">Máscara Infantil</a>
              <a class="dropdown-item" href="#">Faceshield</a>
            </div>
          </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-right:80px">
        <% if user_signed_in? %>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-shopping-cart fa-sm mx-2"></i>
                    Carrinho
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Minha conta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">                    
                    <%= link_to dados_cadastrais_path() , class: "dropdown-item" do %>
                        <i class="fas fa-user-cog fa-sm mx-2"></i>
                        Configurações
                    <% end %>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-box-open fa-sm mx-2"></i>
                        Meus pedidos
                    </a>
                    <%= link_to destroy_user_session_path, :method => :delete, class: "dropdown-item" do %>
                        <i class="fas fa-sign-out-alt fa-sm mx-2"></i> Sair
                    <% end %>
                </div>
            </li>
        <% else %>
            <li class="nav-item">
                <a class="nav-link carrinho" href="#">
                    <i class="fas fa-shopping-cart fa-sm mx-2"></i>
                    Carrinho
                </a>
            </li>
            <li class="nav-link">
                <button class="btn btn-sm btn-outline-light login" type="button">
                    <%= link_to "Login", :login, class: "login" %>
                </button>
            </li>
        <% end %>
    </ul>
</nav>
